@import 'modern-normalize';

:root {
  --bg: #98ceed;
  --text: #243742;
  --secondary-bg: #51ace1;
  --secondary-text: #ffffff;
  --tertiary-bg: #eaf7fe;
}

.wrapper {
  width: 100%;
  max-width: 800px;

  margin: 0 auto;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  background: var(--bg, #98ceed);
  color: var(--text, #243742);
}

.search-box {
  display: flex;
  width: 100%;
}

.unit-wrapper,
.search-box input {
  background-color: var(--tertiary-bg, #243742);
}

.unit-selected {
  background-color: var(--secondary-bg, #51ace1);
  color: var(--secondary-text, #ffffff);
}

.search-box input {
  flex: 1;
}

.search-box button {
  background-color: var(--secondary-bg, #51ace1);
  color: var(--secondary-text, #ffffff);
}

.current-icon {
  max-width: 60%;
  flex: 1;
}

img {
  max-width: 100%;
  display: block;
}

.current-conditions {
  display: grid;
  grid-template-areas: 'temp conditions' 'temp feelslike';
  gap: 1rem;
}

.current-conditions .temp {
  grid-area: temp;
  font-size: 4rem;
}

.future-conditions {
  display: flex;
  gap: 1rem;
}

.future-day {
  background-color: var(--secondary-bg, #51ace1);
  color: var(--secondary-text, #ffffff);
}