@import 'modern-normalize';

[data-style='clear-day'],
[data-style='partly-cloudy-day'] {
  --bg-gradient: linear-gradient(180deg, #cfecfd 0%, #61c0f8 80%);
  --bg: #61c0f8;
  --text: #243742;
  --secondary-bg: #51ace1;
  --secondary-text: #ffffff;
  --tertiary-bg: #eaf7fe;
}

[data-style='cloudy'],
[data-style='wind'],
[data-style='fog'] {
  --bg-gradient: linear-gradient(180deg, #e0e8ec 0%, #94b3c5 80%);
  --bg: #94b3c6;
  --text: #243742;
  --secondary-bg: #77a4c0;
  --secondary-text: #ffffff;
  --tertiary-bg: #f6f8f9;
}

[data-style='rain'] {
  --bg-gradient: linear-gradient(180deg, #d2dde4 0%, #649fc1 80%);
  --bg: #659fc1;
  --text: #243742;
  --secondary-bg: #4586ae;
  --secondary-text: #ffffff;
  --tertiary-bg: #eff3f5;
}

[data-style='snow'] {
  --bg-gradient: linear-gradient(180deg, #fff 0%, #dfe4e8 80%);
  --bg: #dfe5e8;
  --text: #243742;
  --secondary-bg: #a5b1b9;
  --secondary-text: #ffffff;
  --tertiary-bg: #eff3f5;
}

[data-style='partly-cloudy-night'],
[data-style='clear-night'] {
  --bg-gradient: linear-gradient(180deg, #a896c8 0%, #523783 80%);
  --bg: #523783;
  --text: #d9d0ea;
  --secondary-bg: #6d4da8;
  --secondary-text: #ffffff;
  --tertiary-bg: #322449;
}

body {
  background: var(--bg-gradient, #61c0f8);
  min-height: 100svh;
  position: relative;
}

.wrapper {
  width: 100%;
  max-width: 750px;

  margin: 0 auto;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;

  color: var(--text, #243742);
}

.search-box {
  width: 100%;
  max-width: 600px;
  display: flex;
  gap: 0.5rem;
}

.unit-wrapper {
  background-color: var(--tertiary-bg, #243742);
  display: flex;
  border-radius: 20px;
}

.unit-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.unit-selector,
.search-box button {
  cursor: pointer;
}

.unit-selected {
  background-color: var(--secondary-bg, #51ace1);
  color: var(--secondary-text, #ffffff);
}

.search-box input {
  flex: 1;
  flex-shrink: 1;
  min-width: 0;
  background-color: var(--tertiary-bg, #243742);
  border: none;
  border-radius: 20px;
  padding: 0 1rem;
  color: var(--text, #243842);
}

.search-box input::placeholder {
  color: var(--text, #243842);
  opacity: 0.5;
}

.search-box input:focus {
  outline: 1px solid var(--secondary-bg, #51ace1);
}

.search-box button {
  flex-shrink: 0;
  background-color: var(--secondary-bg, #51ace1);
  color: var(--secondary-text, #ffffff);
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.search-box button svg {
  fill: var(--secondary-text, #ffffff);
  width: 80%;
  height: 80%;
}

.current-icon {
  max-width: 40%;
}

img {
  max-width: 100%;
  display: block;
}

.current-conditions {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.current-conditions .temp {
  font-size: 5rem;
  line-height: 0.9;
}

.current-conditions .temp span {
  font-size: 0.5em;
}

.conditions-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.future-conditions {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  margin-top: 1rem;
  width: 100%;

  overflow-x: auto;
}

.future-day {
  background-color: var(--secondary-bg, #51ace1);
  color: var(--secondary-text, #ffffff);

  min-width: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  padding: 1rem;
  border-radius: 16px;
  text-align: center;
}

.future-icon {
  width: 70%;
}

.future-day > *:last-child {
  margin-top: 0.5rem;
}

.error-message {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);

  width: 400px;
  max-width: 80%;

  padding: 1rem;
  border-radius: 1rem;
  text-align: center;

  background-color: #fff2c3;
  color: #85743a;
  border: 1px solid #bda44c;
  opacity: 1;

  transition: 1s;
}

.hidden {
  opacity: 0;
  transition: 1s;
}
